@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: "AvantGarde Bk BT";
  src: url("/public//fonts/AVGARDD_2.woff") format("woff2"),
    url("/public//fonts//AVGARDDO_2.woff") format("woff"),
    url("/public//fonts//AVGARDN_2.woff") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "AvantGarde Bk BT", sans-serif;
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  white-space: nowrap;
  letter-spacing: 1px;
}

.react-select__menu {
  scrollbar-width: thin;
  scrollbar-color: #2f4376 #f1f1f1; /* Blue scrollbar */
}

.react-select__menu::-webkit-scrollbar {
  width: 8px;
}

.react-select__menu::-webkit-scrollbar-thumb {
  background-color: #2f4376; /* Blue scrollbar */
}

.react-select__menu::-webkit-scrollbar-track {
  background: #f1f1f1;
}
